body {
	background: #154187;
}

#wrap {
	position: relative;
	width: 800px;
}

#nav {
	float: left;
	width: 20%;
	margin-left: 5%;
	background-color: #71a0f2;
}

#nav > h2 {
	text-align: center;
}

#content {
	float:right;
	width: 70%;
	background-color: #5579b5;
	text-align: center;
}

#content > ul {
	list-style-type: none;
}

.copyright {
	clear: both;
}